name: smap_io
channels:
- conda-forge
dependencies:
- numpy
- h5py
- netcdf4
- pyproj
- pandas
- pyresample
- pip
- pip:
  - git+https://github.com/sebhahn/datedown@da7f25d206593a2b4c53d74e331565332227eebb
  - ease-grid
  - pygeobase
  - pygeogrids
  - pytesmo
  - repurpose
  - trollsift==0.2.1
  - pynetcf
  - more_itertools
  - parse
  - pytest
  - pytest-cov
  - coverage
  - yapf
