name: smap_io
channels:
- conda-forge
dependencies:
- pip
- numpy
- netCDF4
- h5py
- pyproj
- pandas
- pyresample
- pip:   # make sure that these match with the packages in setup.cfg
  - ease-grid
  - pygeobase
  - pygeogrids
  - repurpose
  - trollsift==0.2.1
  - pynetcf
  - parse
  - yapf
  - click